*.dot
*.dylib
*.prof
*.pyc
*.pyd
*.so
.coverage
.eggs/*
_cache/*
build/*
dist/*
*egg-info/*
onnxruntime_profile*
prof
temp_*
.ipynb_checkpoints
_doc/CHANGELOGS.rst
_doc/LICENSE.txt
_doc/auto_examples/*
_doc/examples/_cache/*
_doc/examples/onnxruntime_profile*
_doc/examples/plot_*.png
_doc/examples/plot_*.xlsx
_doc/examples/data/*.optimized.onnx
_doc/examples/*.html
_doc/_static/require.js
_doc/_static/viz.js
_unittests/ut__main/*.png
_unittests/ut__main/_cache/*
_unittests/ut__main/*.html
_unittests/.hypothesis/*
_doc/notebooks/ml/*.onnx
_doc/notebooks/dsgarden/*.onnx
