astroid
black
blockdiag
coverage
Cython
cytoolz
dill
graphviz
hummingbird-ml
ijson
importlib_metadata
ipykernel
ipython
isort
jdcal
jupyter_sphinx
jupyter
jupyter-black
lifelines
matplotlib
memory_profiler
mlinsights
nbconvert
nbsphinx
notebook
onnx-array-api
onnx-extended
onnxruntime>=1.12
pandas
pillow
psutil
pybind11
pydata_sphinx_theme
pyinstrument
pytest
ruff
seaborn
snakeviz
scikit-learn>=1.1
skl2onnx
sphinx
sphinx-gallery
sphinx-issues
sphinxcontrib-blockdiag
git+https://github.com/sdpython/sphinx-runpython.git
stack_data
statsmodels
tqdm
traitlets
vprof
wheel
xgboost
