autopep8
babel!=2.0
blockdiag
coverage
gprof2dot
jyquickhelper
line_profiler
mako
memory_profiler
minepy
mutagen
pycodestyle>=2.0.0
pydocstyle
pyensae
pyinstrument
pymmails
pymyinstall
pyquickhelper>=1.5.2175
semantic_version
snakeviz
sphinx-bootstrap-theme
sphinx-gallery
sphinxcontrib-images
sphinxcontrib-imagesvg
sphinxcontrib-jsdemo
sphinxjp.themes.basicstrap
sphinxjp.themes.revealjs
sphinxjp.themes.sphinxjp
tqdm
unify
vprof
wheel
