astroid
autopep8
blockdiag
coverage
Cython
cytoolz
dill
hummingbird-ml
ijson
importlib_metadata
ipykernel
ipython
isort
jdcal
jupyter_sphinx
jupyter
jyquickhelper
lifelines
mako
matplotlib
memory_profiler
mlinsights
nbconvert
nbsphinx
notebook
onnx_array_api
onnxruntime>=1.12
pandas
pillow
psutil
pybind11
pycodestyle
pydata_sphinx_theme
pyensae>=1.2.788
pyinstrument
pylint>=2.14.0
pyquickhelper>=1.12
pyquicksetup>=0.2.4
pytest
seaborn
setuptools
snakeviz
scikit-learn>=1.1
git+https://github.com/onnx/sklearn-onnx.git
sphinx
sphinx_gallery 
sphinxcontrib.imagesvg
stack_data
statsmodels
tqdm
traitlets
vprof
wheel
xgboost
