blockdiag
coverage
cpyquickhelper>=0.2
jyquickhelper
mako
memory_profiler
minepy
mlinsights>=0.2.312
mutagen
pyensae>=1.2.788
pyinstrument
pyquickhelper>=1.9.3240
scikit-learn>=0.21
snakeviz
sphinx-bootstrap-theme
tqdm
vprof
wheel
