astroid
autopep8
black
blockdiag
coverage
Cython
cytoolz
dill
hummingbird-ml
ijson
importlib_metadata
ipykernel
ipython
isort
jdcal
jupyter_sphinx
jupyter
jupyter-black
lifelines
mako
matplotlib
memory_profiler
mlinsights
nbconvert
nbsphinx
notebook
onnx_array_api
onnxruntime>=1.12
pandas
pillow
psutil
pybind11
pydata_sphinx_theme
pyinstrument
pytest
ruff
seaborn
setuptools
snakeviz
scikit-learn>=1.1
sklearn-onnx
sphinx
sphinx-gallery
sphinx-issues
git+https://github.com/sdpython/sphinx-runpython.git
sphinxcontrib.imagesvg
stack_data
statsmodels
tqdm
traitlets
vprof
wheel
xgboost
