bokeh
Cython
cytoolz
dask
datashape
dill
h5py
ipython
jupyter
jupyter_client
jupyter_core
matplotlib
nbformat
nbpresent
notebook>=5.0.0
numpy>=1.11.0
pandas>=0.20.0
pillow
scikit-learn
scipy
seaborn
setuptools
Sphinx
statsmodels
xarray
xgboost
